@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('opensans-condlight-webfont.woff2') format('woff2'),
         url('opensans-condlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0px;
	padding: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#blur {
  background: #F5F5F5;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 95;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}

#blur-costs {
  background: #F5F5F5;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 95;
  transition: all 0.8s ease-in-out;
  opacity: 0;
}

.blur-overlay {
  visibility: hidden;
}

.background {
  position: fixed; 
  top: 0; 
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4)
}

::-webkit-input-placeholder {
   color: #999999;
}

.menu {
	position: absolute;
  cursor: default;
	top: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
	background: white;
  	z-index: 97;
  	line-height: 70px;	
}

.menu p {
	color: black;
	font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.4em;
  	font-size: 36px;
  	padding-left: 30px;
  	margin: 0px;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registrieren-oben {
	display: block;
	position: absolute;
	top: 15px;
	right: 40px;
	width: 130px;
	height: 40px;
  z-index: 99;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    background: white;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: black;
  	padding: 5px;
  	border-radius: 0 !important;
}

.registrieren-oben:active {
    vertical-align: top;
    padding-top: 6px;
    background: rgba(0,0,0,0.02);
}

.registrieren-oben:hover {
  background-color: rgba(0,0,0,0.05)
}

.input {
  margin-bottom: 5px;
  width: 233px;
  height: 33px;
  border-style: solid;
    border-width: 1px;
    border-color: grey;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: grey;
    padding-left: 5px;
    border-radius: 0 !important;
}

.invekosBtn {
    margin-top: 20px;
  width: 241px;
  height: 40px;
  border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 0px !important;
}

.anmelden-oben {
	display: none;
	position: absolute;
	top: 15px;
	right: 40px;
	width: 130px;
	height: 40px;
  z-index: 99;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    background: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: black;
  	padding: 5px;
  	border-radius: 0 !important;
}

.anmelden-oben:active {
    vertical-align: top;
    padding-top: 6px;
    background: rgba(0,0,0,0.02);
}

.anmelden-oben:hover {
  background-color: rgba(0,0,0,0.05)
}

div.flip-container {
	position: absolute;
  cursor: default;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -185px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container.flip .flipper {
		transform: rotateY(-180deg);
	}

.flip-container, .login {
	width: 300px;
	height: 370px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.login, .registrierung {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.login {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.registrierung {
  height: 500px;
	transform: rotateY(180deg);
}

.login {
	background: white;
	border-radius: 0 !important;
}

.login p {
	font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.23em;
  	font-size: 29px;
  	text-align: center;
  	color: black;
  	padding-top: 15px;
  	padding-left: 5px;
  	margin: 0px;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registrierung p {
	font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.23em;
  	font-size: 26px;
  	text-align: center;
  	color: black;
  	padding-top: 15px;
  	padding-left: 5px;
  	margin: 0px;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.name {
	position: absolute;
	top: 50%;
	margin-top: -134px;
	left: 50%;
	margin-left: -116.5px;
	width: 233px;
	height: 33px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;
}

.street {
  position: absolute;
  top: 50%;
  margin-top: -89px;
  left: 50%;
  margin-left: -116.5px;
  width: 233px;
  height: 33px;
  border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: grey;
    padding-left: 5px;
    border-radius: 0 !important;
}

.postcode {
  position: absolute;
  top: 50%;
  margin-top: -44px;
  left: 50%;
  margin-left: -116.5px;
  width: 233px;
  height: 33px;
  border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: grey;
    padding-left: 5px;
    border-radius: 0 !important;
}

.email {
	position: absolute;
	top: 50%;
	margin-top: -48px;
	left: 50%;
	margin-left: -116.5px;
	width: 233px;
	height: 33px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;	
}

.emailFalsch {
  position: absolute;
  visibility: hidden;
  top: 38%;
  margin-top: -48px;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 33px;
  border-style: dashed;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #f5f5f5;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 12px;
    color: grey;
    padding-left: 0px;
    border-radius: 0 !important;  
}

.email2 {
	position: absolute;
	top: 50%;
	margin-top: -0px;
	left: 50%;
	margin-left: -116.5px;
	width: 233px;
	height: 33px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;	
}

.password {
	position: absolute;
	top: 50%;
	margin-top: 0px;
	width: 233px;
	height: 33px;
	left: 50%;
	margin-left: -116.5px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;
}

.password2 {
	position: absolute;
	top: 50%;
	margin-top: 48px;
	width: 233px;
	height: 33px;
	left: 50%;
	margin-left: -116.5px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;
}

.repeat-password {
	position: absolute;
	top: 50%;
	margin-top: 96px;
	width: 233px;
	height: 33px;
	left: 50%;
	margin-left: -116.5px;
	border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 18px;
  	color: grey;
  	padding-left: 5px;
  	border-radius: 0 !important;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
	background: white;
	border: 1px solid #CCCCCC;
	margin:-1px 12px 0 0;
	border-radius: 0 !important;
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:grey;
    outline: 2px solid white;
    outline-offset: -3px;
}

.label-login {
	position: absolute;
	top: 50%;
	margin-top: 48px;
	left: 33.5px;
	font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 14px;
  	color: #999999;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-button {
	position: absolute;
	top: 50%;
	margin-top: 88px;
	width: 233px;
	height: 40px;
	left: 50%;
	margin-left: -116.5px;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.2em;
  	font-size: 18px;
  	color: black;
  	padding: 5px;
  	border-radius: 0px !important;
}

.login-button:active {
    vertical-align: top;
    padding-top: 6px;
    background: rgba(0,0,0,0.02);
}

.login-button:hover {
    background: rgba(0,0,0,0.05);
}

.register-button {
	position: absolute;
	top: 50%;
	margin-top: 162px;
	width: 233px;
	height: 40px;
	left: 50%;
	margin-left: -116.5px;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: transparent;
    font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.2em;
  	font-size: 18px;
  	color: black;
  	padding: 5px;
  	border-radius: 0px !important;
}

.register-button:active {
    vertical-align: top;
    padding-top: 6px;
    background: rgba(0,0,0,0.02);
}

.register-button:hover {
    background: rgba(0,0,0,0.05);
}

.forgot {
	position: absolute;
	top: 50%;
	margin-top: 138px;
	right: 33.5px;
	font-family: 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  	letter-spacing: 0.1em;
  	font-size: 14px;
  	color: #999999;
  	text-decoration: none;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.forgot:active {
	color: black;
}

.registrierung {
	background: white;
}
#menuNav {
    position: fixed;
    right: 22px;
    top: 22px;
    z-index: 120;
    width: 33px;
    height: 27px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='27px' viewBox='0 0 33 27' enable-background='new 0 0 33 27' xml:space='preserve'> <g> <rect width='33' height='2'/> </g> <g> <rect y='25' width='33' height='2'/> </g> <g> <rect y='12' width='33' height='2'/> </g> </svg>")  no-repeat;
    background-size: 33px 25px;
    background-repeat: no-repeat;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    right: 0;
    top: 30px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 20px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#menuNav:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 500px) {
body {
	background: #F5F5F5;
}

.background {
	display: none;
}

.menu p {
	text-align: center;
}

.overlay {
	display: none;
}

.flip-container {
	width: 100%;
	height: 100%;
}

.login {
	background: transparent;
}

}
